<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demo</title>
</head>
<body>
    <header>
        <a href="./">Home</a>
        <a href="./pictures">Pictures</a>
        <a href="./videos">Videos</a>

        <div>
            {% if isLogin %}
            <p>{{myUsername}}</p>
            {% else %}
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
            </form>
            {% endif %}
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>